
body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 70px;
  height: 70px;
}
h1{
    display: inline;
      }

.subtitulo-iniciar-sesion, .subtitulo-registrarse{
    font-size: 0.9rem;
    font-weight: 500;
    color: #4267B2;
}

.label {
    font-size: 0.7rem;
}
main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    
}

.container{
    flex-basis: 50%;
}


.header h1, img, h2{
    align-items: center;
    margin: 0;
    
}

.registro-usuario{
    padding-top: 2em;
}


img{
    height: 600px;
    width: 550px;
}

.form-container {
    display: flex;
    flex-direction: column;

}

.button-iniciarSesion, .button-registro{
    background-color: #4267B2;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-iniciarSesion:hover , .button-registro:hover{
    background-color: #34495e;
  }

.input-design{

border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #e1e1e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 100%;
  

}

.input-design:focus{

        outline: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formulario-inicio-container, .formulario-registro-container{
    border: none;
    padding-right: 40px;
    padding-left: 20px;
    margin: 0;
    background-color: #698acb;
    border-radius: 5px;
    width: 70%;
  }

  .formulario-inicio-container label, .formulario-registro-container label{
    padding-top: 20px;
    font-weight:400;
  font-size: 0.7rem;
  display: block;
  margin-bottom: 5px;
  }