
body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 70px;
  height: 70px;
}
h1{
    display: inline;
      }
main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    
}

.container{
    flex-basis: 50%;
}


.header h1, img, h2{
    align-items: center;
    margin: 0;
    
}

.registro-usuario{
    padding-top: 2em;
}


img{
    height: 600px;
    width: 550px;
}

.form-container {
    display: flex;
    flex-direction: column;

}

.button-iniciarSesion{
    width: 30%;
    
}

.input-design{
    width: 30%;
}