
body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 70px;
  height: 70px;
}
h1{
    display: inline;
      }

.subtitulo-iniciar-sesion, .subtitulo-registrarse{
    font-size: 0.9rem;
    font-weight: 500;
    color: #4267B2;
}

.label {
    font-size: 0.7rem;
}
main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    
}

.container{
    flex-basis: 50%;
}


.header h1, img, h2{
    align-items: center;
    margin: 0;
    
}

.registro-usuario{
    padding-top: 2em;
}


img{
    height: 600px;
    width: 550px;
}

.form-container {
    display: flex;
    flex-direction: column;

}

.button-iniciarSesion{
    width: auto;
    font-size: 0.7rem;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #2c3e50;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

.button-iniciarSesion:hover {
    background-color: #34495e;
  }

.input-design{
    width: 30%;
}